@charset "UTF-8";
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter, opacity, filter;
          transition-property: opacity, filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 45px;
  height: 18px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 45px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
            transition-property: transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -16px;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
            transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -8px, 0) rotate(45deg);
          transform: translate3d(0, -8px, 0) rotate(45deg);
  -webkit-transition-delay: 0.32s;
          transition-delay: 0.32s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
            transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }

* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: 'PT Serif', serif;
  background-color: #fff;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0; }

::-moz-selection {
  background: #fff498; }

::selection {
  background: #fff498; }

/* 
	-------------------------------------------
	svg спрайт
	-------------------------------------------
*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-arrow {
  font-size: 2.4rem;
  width: 1em; }

.icon-arrow-left {
  font-size: 2.4rem;
  width: 1em; }

.icon-arrow-right {
  font-size: 2.4rem;
  width: 1em; }

.icon-code {
  font-size: 52.2469rem;
  width: 1.0em; }

.icon-layers {
  font-size: 5.4953rem;
  width: 1em; }

.icon-logo-codepen {
  font-size: 4rem;
  width: 1em; }

.icon-logo-facebook {
  font-size: 4.9652rem;
  width: 1em; }

.icon-logo-github {
  font-size: 4rem;
  width: 1em; }

.icon-logo-linkedin {
  font-size: 4rem;
  width: 1em; }

.icon-logo-vk {
  font-size: 2.4rem;
  width: 1em; }

.icon-marker {
  font-size: 51.232rem;
  width: 1em; }

/* 
	-------------------------------------------
		GRID
	-------------------------------------------
*/
.page-wrap {
  height: 100%;
  overflow-x: hidden; }

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container.container--thin {
    max-width: 830px; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex-row--space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .flex-row--center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-row--center-all {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex-row--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .flex-row--center-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex-row--wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.col-3 {
  width: 33.33%; }

.col-5 {
  width: 50%; }

.col-10 {
  width: 100%; }

@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px; }
  .col-5 {
    width: 100%; } }

/* 
	-------------------------------------------
		CONTENT WRAP
	-------------------------------------------
*/
.content {
  width: 100%;
  position: relative;
  z-index: 5;
  background-color: #fff;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }
  .content.is-move {
    -webkit-transform: translateX(-383px);
            transform: translateX(-383px);
    cursor: pointer; }

@media (max-width: 1024px) {
  .content {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
    .content.is-move {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px); } }

@media (max-width: 768px) {
  .content {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
    .content.is-move {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%); } }

/* 
	-------------------------------------------
	BUTTONS
	-------------------------------------------
*/
.btn {
  display: inline-block;
  width: 300px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Roboto", sans-serif;
  background-color: #252422;
  box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.35);
  text-decoration: none;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  text-align: center; }
  .btn--post {
    width: 200px;
    padding-top: 8px;
    padding-bottom: 8px; }
  .btn:hover .above, .btn:focus .above {
    width: 100%; }
  .btn:hover .text, .btn:focus .text {
    -webkit-transform: translateX(15px);
            transform: translateX(15px); }
  .btn .text {
    display: inline-block;
    width: auto;
    font-size: 1.375rem;
    font-weight: 700;
    color: white;
    letter-spacing: .005em;
    position: relative;
    z-index: 10;
    text-align: left;
    text-transform: capitalize;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .btn .above {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 0%;
    background-color: #e85a71;
    -webkit-transition-duration: .6s;
            transition-duration: .6s;
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }

/* 
	-------------------------------------------
		TYPOGRAPHY
	-------------------------------------------
*/
h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 2.8125rem;
  line-height: 48px; }

h2 {
  font-size: 2.1875rem;
  line-height: 38px; }

p {
  margin-bottom: 15px;
  font-size: 1.125rem;
  line-height: 32px; }

.section-title {
  margin-bottom: 70px;
  font-size: 2.8125rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-weight: 900; }

.bold {
  font-weight: 700; }

.highlights {
  color: #4285C2; }

@media (max-width: 768px) {
  .section-title {
    margin-bottom: 40px; } }

@media (max-width: 480px) {
  .section-title {
    font-size: 2.375rem;
    letter-spacing: 3.8px; } }

.highlight {
  margin: 35px 0 35px;
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
  border-left: 4px solid #e85a71;
  background: #f3f3f3;
  overflow-x: auto; }
  .highlight pre {
    margin: 0; }
  .highlight code,
  .highlight pre {
    font-size: 1.125rem; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  /* Literal.String */
  color: #d14; }

.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  /* Name.Tag */
  color: #c6463d; }

.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
@media (max-width: 768px) {
  .highlight {
    margin: 35px 0 35px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px; }
    .highlight code,
    .highlight pre {
      font-size: 1rem; } }

/* 
	-------------------------------------------
		HAMBURGER
	-------------------------------------------
*/
.p-hamburger {
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: right; }

.hamburger--collapse-r {
  overflow: hidden; }
  .hamburger--collapse-r .hamburger-inner {
    -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    .hamburger--collapse-r .hamburger-inner:before, .hamburger--collapse-r .hamburger-inner:after {
      -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
              transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    .hamburger--collapse-r .hamburger-inner:before {
      -webkit-transition-delay: 150ms;
              transition-delay: 150ms; }
    .hamburger--collapse-r .hamburger-inner:after {
      -webkit-transition-delay: 250ms;
              transition-delay: 250ms; }
  .hamburger--collapse-r.is-active .hamburger-inner {
    background: #fff; }
    .hamburger--collapse-r.is-active .hamburger-inner::before, .hamburger--collapse-r.is-active .hamburger-inner::after {
      background: #fff; }
  .hamburger--collapse-r.is-hide {
    pointer-events: none; }
    .hamburger--collapse-r.is-hide .hamburger-inner {
      -webkit-transition-delay: 400ms;
              transition-delay: 400ms;
      -webkit-transform: translateX(60px);
              transform: translateX(60px); }
      .hamburger--collapse-r.is-hide .hamburger-inner:after, .hamburger--collapse-r.is-hide .hamburger-inner:before {
        -webkit-transform: translateX(60px);
                transform: translateX(60px); }

@media (max-width: 1024px) {
  .p-hamburger {
    padding-right: 30px; } }

@media (max-width: 768px) {
  .p-hamburger {
    padding-top: 15px;
    padding-right: 10px; } }

/* 
	-------------------------------------------
		SOCIAL LINKS
	-------------------------------------------
*/
.p-social {
  text-align: center; }
  .p-social a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0; }

.logo-codepen--mod,
.logo-vk--mod,
.logo-facebook--mod,
.logo-github--mod,
.logo-linkedin--mod {
  font-size: 2.75rem;
  color: #222222;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1); }

/* 
	-------------------------------------------
		PRELOADER
	-------------------------------------------
*/
.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background-color: #fff; }

.spinner {
  width: 3.75rem;
  height: 0;
  opacity: 1;
  -webkit-transition: visibility, opacity;
          transition: visibility, opacity;
  -webkit-transition-duration: 0s, 0.3s;
          transition-duration: 0s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
  background-color: #fff;
  position: relative; }
  .spinner .circle {
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
    top: 0;
    left: 0;
    border: 0 solid #e55381;
    border-radius: 50%;
    -webkit-animation: loader 1.3s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
            animation: loader 1.3s infinite cubic-bezier(0.215, 0.61, 0.355, 1); }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-width: 1.875rem; }
  70% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-width: 0;
    opacity: 0; } }

@keyframes loader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-width: 1.875rem; }
  70% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-width: 0;
    opacity: 0; } }

/* 
	-------------------------------------------
		POST AND PROJECT NAVIGATION
	-------------------------------------------
*/
.i-post-navigation {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 45px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.6px; }
  .back:hover span, .back:focus span {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  .back:hover .arrow--mod, .back:focus .arrow--mod {
    opacity: 1; }
  .back span {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
    -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .back .arrow--mod {
    display: inline-block;
    margin-right: 8px;
    font-size: 1rem;
    color: #222222;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.nav-arrows a {
  display: inline-block;
  padding: 5px;
  font-size: 0; }
  .nav-arrows a:hover .arrow-left--mod,
  .nav-arrows a:hover .arrow-right--mod, .nav-arrows a:focus .arrow-left--mod,
  .nav-arrows a:focus .arrow-right--mod {
    color: #222222; }

.nav-arrows a:last-child {
  margin-left: 10px; }

.arrow-left--mod,
.arrow-right--mod {
  font-size: 1.375rem;
  color: #888888;
  -webkit-transition: color 100ms ease-in;
          transition: color 100ms ease-in; }

@media (max-width: 768px) {
  .i-post-navigation {
    padding-left: 15px;
    padding-right: 15px; }
  .back span {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  .back .arrow--mod {
    opacity: 1; } }

/* 
	-----------------------------------------------
		SKILLS BAR
	-----------------------------------------------
*/
.skills-bar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.skills-bar-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 660px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px; }
  .skills-bar-list li {
    margin-bottom: 12px; }

.skills-bar-title {
  margin-bottom: 5px;
  font-size: 1.0625rem; }

.skills-bar {
  width: 280px;
  height: 8px;
  background-color: #e6e6e6;
  position: relative;
  overflow: hidden; }

.skills-inner-bar {
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e85a71; }

@media (max-width: 1024px) {
  .skills-bar-list {
    margin: 0 auto 70px; } }

@media (max-width: 768px) {
  .skills-bar-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .skills-bar-list {
    max-width: 400px;
    display: block;
    margin-bottom: 55px; }
  .skills-bar {
    width: 100%;
    height: 8px;
    background-color: #e6e6e6;
    position: relative; } }

@media (max-width: 480px) {
  .skills-bar-list {
    max-width: 100%; } }

/* 
	-----------------------------------------------
		NAVIGATION
	-----------------------------------------------
*/
.p-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  background-color: #222222;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
  .p-navigation.is-move {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
    .p-navigation.is-move li {
      opacity: 1;
      -webkit-transform: translate(0px);
              transform: translate(0px); }

.p-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .p-navigation-list li:nth-child(1) {
    -webkit-transition-delay: 130ms;
            transition-delay: 130ms; }
  .p-navigation-list li:nth-child(2) {
    -webkit-transition-delay: 260ms;
            transition-delay: 260ms; }
  .p-navigation-list li:nth-child(3) {
    -webkit-transition-delay: 390ms;
            transition-delay: 390ms; }
  .p-navigation-list li:nth-child(4) {
    -webkit-transition-delay: 520ms;
            transition-delay: 520ms; }
  .p-navigation-list li {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .p-navigation-list a {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #acacac;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    .p-navigation-list a:hover {
      color: #e85a71; }
    .p-navigation-list a.is-active {
      color: #e85a71; }

@media (max-width: 1024px) {
  .p-navigation {
    width: 316px; }
  .p-navigation-list a {
    font-size: 2rem; } }

@media (max-width: 768px) {
  .p-navigation {
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    z-index: 10; }
  .p-navigation-list a {
    font-size: 2.25rem; } }

/* 
	-----------------------------------------------
		INNER HEADER
	-----------------------------------------------
*/
.i-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  margin-bottom: 100px;
  background-color: #f3f3f3; }

.i-header-title {
  display: inline-block;
  padding: 15px 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 8px;
  line-height: 68px;
  text-align: center;
  background-color: #e85a71;
  font-size: 5rem;
  color: #f3f3f3; }
  .i-header-title.title--reset {
    padding: 0;
    background-color: transparent;
    color: #fff; }

@media (max-width: 1024px) {
  .i-header-title {
    font-size: 4.375rem;
    padding: 10px 45px;
    line-height: 68px;
    letter-spacing: 7px; } }

@media (max-width: 768px) {
  .i-header {
    height: 350px;
    margin-bottom: 60px; }
  .i-header-title {
    font-size: 2.8125rem;
    padding: 0px 30px;
    letter-spacing: 4.5px; } }

/* 
	-----------------------------------------------
		INNER FOOTER
	-----------------------------------------------
*/
.i-footer {
  padding-top: 55px;
  padding-bottom: 40px;
  background-color: #f3f3f3; }

.i-footer-title,
.i-footer-date {
  text-align: center; }

.i-footer-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 1.0625rem;
  font-weight: 700;
  letter-spacing: 1.7px; }

/* 
	-----------------------------------------------
		HEADER MAIN PAGE
	-----------------------------------------------
*/
.m-header {
  height: 90vh;
  margin-bottom: 170px;
  width: 100%;
  position: relative;
  background: #f3f3f3;
  background-color: #f3f3f3; }
  .m-header::before, .m-header::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    -webkit-transition: ease all .5s;
            transition: ease all .5s; }
  .m-header::after {
    bottom: 0;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg); }

.m-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%; }

.m-header-title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 8px;
  line-height: 68px;
  color: #f3f3f3; }
  .m-header-title.title--first, .m-header-title.title--second {
    font-size: 5rem;
    background-color: #e85a71;
    text-align: center; }
  .m-header-title.title--first {
    width: 362px;
    position: relative;
    bottom: -15px;
    margin-left: -180px; }
  .m-header-title.title--second {
    width: 460px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px; }

.m-header-position {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 3.2px; }

@media (max-width: 1024px) {
  .m-header-title {
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 7px; }
    .m-header-title.title--first, .m-header-title.title--second {
      font-size: 4.375rem; }
    .m-header-title.title--first {
      width: 320px;
      margin-left: -165px; }
    .m-header-title.title--second {
      width: 420px;
      padding-bottom: 15px; } }

@media (max-width: 768px) {
  .m-header {
    height: 100vh;
    margin-bottom: 100px;
    -webkit-transition-duration: 999999s;
            transition-duration: 999999s; }
  .m-header-title {
    padding: 0px;
    letter-spacing: 4.5px; }
    .m-header-title.title--first, .m-header-title.title--second {
      font-size: 2.8125rem; }
    .m-header-title.title--first {
      width: 220px;
      margin-left: -110px; }
    .m-header-title.title--second {
      width: 290px;
      margin-left: 20px;
      padding-bottom: 0; }
  .m-header-position {
    font-size: 1.375rem;
    letter-spacing: 2.2px; } }

@media (max-width: 359px) {
  .m-header-title {
    letter-spacing: 4px; }
    .m-header-title.title--first, .m-header-title.title--second {
      font-size: 2.5rem; }
    .m-header-title.title--first {
      width: 200px;
      margin-left: -90px; }
    .m-header-title.title--second {
      width: 260px; }
  .m-header-position {
    font-size: 1.25rem;
    letter-spacing: 2px; } }

/* 
	-----------------------------------------------
		ABOUT MAIN PAGE
	-----------------------------------------------
*/
.m-about {
  margin-bottom: 170px;
  background-color: #fff; }

.m-about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .m-about-row--center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .m-about-row--m-bottom {
    margin-bottom: 70px; }

.m-about-name {
  width: 42%;
  margin-bottom: 25px;
  padding-right: 30px;
  font-size: 1.625rem;
  text-align: right; }

.m-about-text {
  width: 50%;
  padding-left: 20px;
  font-size: 1.25rem;
  color: #555555;
  line-height: 32px; }
  .m-about-text p:first-child {
    margin-bottom: 20px; }

.m-about-btn-wrap {
  text-align: center; }

@media (max-width: 1024px) {
  .m-about-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .m-about-name,
  .m-about-text {
    width: 100%;
    padding: 0; }
  .m-about-name {
    text-align: left; } }

@media (max-width: 768px) {
  .m-about-row--m-bottom {
    margin-bottom: 50px; }
  .m-about {
    margin-bottom: 100px; }
  .m-about-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .m-about-name {
    padding-right: 0px;
    text-align: left; }
  .m-about-btn-wrap {
    text-align: center; } }

/* 
	-----------------------------------------------
		WORK MAIN PAGE
	-----------------------------------------------
*/
.m-work {
  margin-bottom: 170px;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #f3f3f3;
  width: 100%;
  position: relative;
  background: #f3f3f3; }
  .m-work::before, .m-work::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    -webkit-transition: ease all .5s;
            transition: ease all .5s; }
  .m-work::before {
    top: 0;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: skewY(-3deg);
            transform: skewY(-3deg); }
  .m-work::after {
    bottom: 0;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg); }

.m-work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px; }

.m-work-item {
  display: block;
  width: calc(33.3333% - 15px);
  margin-bottom: 20px;
  text-decoration: none;
  color: #222222;
  position: relative; }
  .m-work-item:hover .descr,
  .m-work-item:hover .title, .m-work-item:active .descr,
  .m-work-item:active .title {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  .m-work-item:hover .item-cover, .m-work-item:active .item-cover {
    opacity: 1; }

.item-background {
  padding-bottom: 80%;
  background-position: center;
  background-repeat: no-repeat; }

.item-meta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  font-family: "Roboto", sans-serif;
  color: #222222;
  text-align: center; }
  .item-meta .descr,
  .item-meta .title {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .item-meta .title {
    font-size: 1.25rem;
    letter-spacing: 2px;
    font-weight: 500; }
  .item-meta .descr {
    font-size: 0.875rem;
    letter-spacing: 1.4px;
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms; }

.item-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.m-work-btn-wrap {
  text-align: center; }

@media (max-width: 1024px) {
  .m-work-item {
    width: calc(50% - 15px); }
  .item-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    top: 0;
    left: 0;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }
    .item-meta .descr,
    .item-meta .title {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    .item-meta .title {
      font-size: 1rem;
      letter-spacing: 1.4px; }
    .item-meta .descr {
      font-size: 0.75rem;
      letter-spacing: 1.2px; }
  .item-cover {
    display: none; } }

@media (max-width: 768px) {
  .m-work {
    margin-bottom: 100px;
    padding-top: 60px; } }

@media (max-width: 480px) {
  .m-work-item {
    width: calc(100% - 0px); } }

/* 
	-----------------------------------------------
		BLOG MAIN PAGE
	-----------------------------------------------
*/
.m-blog {
  margin-bottom: 170px;
  background-color: #fff; }

.m-blog-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px; }
  .m-blog-row > div:first-child {
    margin-right: 60px; }

.m-blog-column {
  max-width: 380px;
  width: 100%; }

.m-blog-item {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-decoration: none;
  color: #222222; }
  .m-blog-item:hover .tag,
  .m-blog-item:hover .title,
  .m-blog-item:hover .descr, .m-blog-item:focus .tag,
  .m-blog-item:focus .title,
  .m-blog-item:focus .descr {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  .m-blog-item:hover .read, .m-blog-item:focus .read {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 1; }
  .m-blog-item .tag,
  .m-blog-item .title,
  .m-blog-item .descr {
    -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  .m-blog-item .tag,
  .m-blog-item .title {
    font-family: "Roboto", sans-serif;
    font-weight: 500; }
  .m-blog-item .tag {
    margin-bottom: 10px;
    font-size: 0.875rem;
    letter-spacing: 0.84px; }
  .m-blog-item .title {
    margin-bottom: 5px;
    font-size: 1.625rem;
    line-height: 28px;
    letter-spacing: 1.04px; }
  .m-blog-item .descr {
    margin-bottom: 5px;
    line-height: 26px;
    letter-spacing: 0.96px; }
  .m-blog-item .read {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color: #e85a71;
    -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

.m-blog-btn-wrap {
  text-align: center; }

@media (max-width: 1024px) {
  .m-blog {
    margin-bottom: 100px; }
  .m-blog-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px; }
    .m-blog-row > div:first-child {
      margin-right: 0px; }
  .m-blog-column {
    max-width: 47%;
    width: 100%; }
  .m-blog-item:hover .tag,
  .m-blog-item:hover .title,
  .m-blog-item:hover .descr,
  .m-blog-item:hover .read, .m-blog-item:focus .tag,
  .m-blog-item:focus .title,
  .m-blog-item:focus .descr,
  .m-blog-item:focus .read {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  .m-blog-item .read {
    opacity: 1; } }

@media (max-width: 768px) {
  .m-blog-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px; }
  .m-blog-column {
    max-width: 460px;
    width: 100%; } }

/* 
	-----------------------------------------------
		CONTACT MAIN PAGE
	-----------------------------------------------
*/
.m-contact {
  padding-top: 20px;
  padding-bottom: 80px;
  width: 100%;
  position: relative;
  background: #f3f3f3; }
  .m-contact::before, .m-contact::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    -webkit-transition: ease all .5s;
            transition: ease all .5s; }
  .m-contact::before {
    top: 0;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: skewY(-3deg);
            transform: skewY(-3deg); }
  .m-contact:after {
    display: none; }

.m-contact-email {
  margin-bottom: 30px;
  text-align: center; }
  .m-contact-email a {
    display: inline-block;
    padding: 6px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 1.375rem;
    font-weight: 500;
    color: #222222;
    text-decoration: none;
    letter-spacing: 2.2px;
    border: 2px solid #222222;
    -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    text-transform: uppercase; }
    .m-contact-email a:hover, .m-contact-email a:focus {
      color: #f3f3f3;
      background-color: #222222; }

.m-contact-or {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.25rem; }

@media (max-width: 768px) {
  .m-contact {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-transition-duration: 999999s;
            transition-duration: 999999s; } }

@media (max-width: 480px) {
  .m-contact-email a {
    width: 97%;
    display: inline-block;
    padding: 6px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    letter-spacing: 1.6px; } }

/* 
	-----------------------------------------------
		POSTS PAGE
	-----------------------------------------------
*/
.posts {
  margin-bottom: 120px; }
  .posts article {
    margin-bottom: 80px; }

.post-title {
  margin-bottom: 5px; }
  .post-title a {
    font-size: 2rem;
    font-weight: 700;
    color: #222222;
    text-decoration: none; }

.post-description {
  margin-bottom: 10px;
  font-size: 1.125rem;
  line-height: 32px; }

.post-date {
  font-size: 0.8125rem; }

.post-tag {
  font-size: 0.875rem;
  color: #e85a71; }

.post-btn-wrap {
  text-align: right; }

@media (max-width: 768px) {
  .posts {
    margin-bottom: 80px; }
  .post-title {
    margin-bottom: 10px; }
    .post-title a {
      line-height: 38px; }
  .post-date-tag-wrap {
    margin-bottom: 35px; }
  .post-btn-wrap {
    text-align: center; } }

/* 
	-----------------------------------------------
		ARTICLE PAGE
	-----------------------------------------------
*/
.article {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px; }
  .article h1,
  .article h2 {
    margin-bottom: 10px; }

.article-date-tag {
  margin-bottom: 50px; }

.article-date {
  font-size: 0.8125rem; }

.article-tag {
  font-size: 0.875rem;
  color: #e85a71; }

.blockquote {
  margin-bottom: 45px;
  font-style: italic; }

.blockquote-bold {
  font-weight: 700;
  font-style: normal; }

.blockquote-link {
  text-decoration: none;
  color: #c6463d;
  font-weight: bold;
  -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  border-bottom: 1px solid transparent; }
  .blockquote-link:hover {
    border-bottom-color: #c6463d; }

@media (max-width: 768px) {
  .article {
    padding-top: 50px;
    padding-bottom: 60px; } }

/* 
	-----------------------------------------------
		ABOUT PAGE
	-----------------------------------------------
*/
.about {
  margin-bottom: 120px; }
  .about a {
    text-decoration: none;
    color: #e85a71; }

.about-title {
  margin-bottom: 25px; }

.about-skills-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px; }
  .about-skills-wrap div:nth-last-child(1),
  .about-skills-wrap div:nth-last-child(2) {
    margin-bottom: 0; }

.skill {
  width: 50%;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px; }
  .skill .title {
    font-size: 1.375rem;
    font-weight: 600;
    position: relative; }
    .skill .title:before {
      content: '';
      width: 7px;
      height: 7px;
      position: absolute;
      top: 50%;
      left: -17px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: #c9c8c8; }
  .skill .descr {
    font-size: 1rem; }
    .skill .descr .bold {
      font-weight: 600;
      text-decoration: underline; }

@media (max-width: 1200px) {
  .skill {
    padding-left: 25px;
    padding-right: 25px; } }

@media (max-width: 1024px) {
  .about-skills-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px; } }

@media (max-width: 768px) {
  .about {
    margin-bottom: 80px; }
  .skill {
    max-width: 580px;
    width: 100%;
    padding-left: 15px;
    padding-right: 0px; } }

/* 
	-----------------------------------------------
		PROJECTS PAGE
	-----------------------------------------------
*/
.container--project {
  margin-bottom: 120px; }

.project {
  padding-bottom: 100px; }

.projects-title {
  margin-bottom: 60px;
  text-align: center; }
  .projects-title a {
    font-size: 2.1875rem;
    color: #222222;
    text-decoration: none; }

.project-descr {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .project-descr li {
    text-align: center; }
  .project-descr .title {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 2px; }
  .project-descr .descr {
    font-size: 1rem;
    letter-spacing: 1.6px; }

.project-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  text-align: right; }
  .project-btn-wrap > a:first-child {
    margin-right: 45px; }

.project-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.project-img {
  width: 100%;
  margin-bottom: 20px; }
  .project-img.img-50 {
    width: calc(50% - 5px); }
  .project-img.img-border-none img {
    border: none; }
  .project-img img {
    border: 1px solid #e6e6e6; }

@media (max-width: 768px) {
  .container--project {
    margin-bottom: 80px; }
  .project {
    padding-bottom: 80px; }
  .project-descr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px; }
    .project-descr li {
      margin-bottom: 30px;
      width: 50%; }
  .project-btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    text-align: center; }
    .project-btn-wrap > a:first-child {
      margin-right: 0;
      margin-bottom: 40px; } }

@media (max-width: 480px) {
  .project-descr li {
    margin-bottom: 30px;
    width: 100%; }
  .project-img.img-50 {
    width: 100%; } }
